header{
    .navbar{
        margin-bottom: 0;
        
        .navbar-brand{
            padding-left: 0;
        }
    }
    li{
        a{
            color: $white;
            font: $source-sans;
            @include fontSize(16px);
            line-height: 2rem;
            margin-bottom: 20px;
        }
    }
}